@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Cairo", sans-serif;
}

body {
    background-color: #F3F4F6;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #445045;
    border-radius: 5px;
}